.item {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
}
#itemA {
    background-color: red; /* Pozadí pro Item 1 */
}

#itemB {
    background-color: green; /* Pozadí pro Item 2 */
}

#itemC {
    background-color: blue; /* Pozadí pro Item 3 */
}